<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TOLEYİS || Turkey's Hotel Restaurant and Entertainment Workers Trade Union</title>
    <link rel="apple-touch-icon" sizes="180x180" href="~/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/assets/images/favicons/site.webmanifest">

    <!-- Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">



    <!-- Css-->
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/assets/css/swiper.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/assets/css/jarallax.css">

    <link rel="stylesheet" href="~/assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/assets/css/vegas.min.css">
    <link rel="stylesheet" href="~/assets/css/nouislider.min.css">
    <link rel="stylesheet" href="~/assets/css/nouislider.pips.css">
    <link rel="stylesheet" href="~/assets/css/asting.css">
    <!-- Template styles -->
    @*<link rel="stylesheet" href="~/assets/css/style.css">*@
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    @*<link href="~/assets/css/anasayfastyle.css" rel="stylesheet" />*@

</head>
<body>

    <style>
        @@media only screen and (max-width: 1025px) {
            .hidee {
                display: none;
            }

            .main-nav__right-one {
                position: relative;
                display: none;
            }
        }
    </style>

    <!--<div class="preloader">
        <img src="~/assets/images/resources/logo.png" class="preloader__image" alt="">
    </div>-->
    <!-- /.preloader -->

    <div class="page-wrapper">

        <div class="site-header__header-one-wrap clearfix">
            <div class="container">

                <div class="site-header__logo-box float-left wow fadeInUp" data-wow-delay="600ms">
                    <div class="site-header__logo">
                        <a href="/Home/Index"><img src="~/assets/images/resources/logo-vektor.png" alt="" style="height:129px; margin: -28px 0px 28px 29px; "></a>
                    </div>
                </div>
                <header class="main-nav__header-one">
                    <div class="main-nav__header-one__top clearfix">
                        <div class="site-header__header-one-wrap__bot main-nav__header-one__top-left">
                            <ul class="list-unstyled-duy">
                                <li>
                                    <div class="text">
                                        <p style=" font-size: 15px; ">TURKEY'S HOTEL RESTAURANT AND ENTERTAINMENT WORKERS TRADE UNION</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main-nav__header-one__top-right">

                        </div>
                        <div class="main-nav__right__icon-cart-box ">
                            <a href="https://effat.org/" target="_blank" class="hidee">
                                <img src="~/assets/images/brand/hg.png" />
                            </a>
                        </div>
                        <div class="main-nav__right__icon-cart-box ">
                            <a href="https://www.iuf.org/" target="_blank" class="hidee">
                                <img src="~/assets/images/brand/iuf.png" />
                            </a>
                        </div>
                        <div class="main-nav__right__icon-cart-box ">
                            <a href="https://www.turkis.org.tr/default.asp" target="_blank" class="hidee">
                                <img src="~/assets/images/brand/turk-is-s.png" style="height: 49px; width: 49px; margin-top: -7px;" />
                            </a>
                        </div>
                        <div class="main-nav__right__icon-cart-box ">

                        </div>
                        <div class="main-nav__right__icon-cart-box ">

                        </div>
                        <div class="main-nav__right__icon-cart-box ">
                            <div class="main-nav__header-one__top-social" style="right:16px;">
                                <a href="/AnaSayfa/Index">
                                    TR                                <img src="~/assets/images/resources/turkbayraklogo.png" />
                                </a>
                            </div>
                        </div>
                        <div class="main-nav__right__icon-cart-box ">
                            <div class="main-nav__header-one__top-social">
                                <a href="#" class="main-nav__search search-popup__toggler">
                                    <i class="icon-magnifying-glass"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!--arama popup-->
                    <div class="search-popup">
                        <div class="search-popup__overlay custom-cursor__overlay">
                            <div class="cursor"></div>
                            <div class="cursor-follower"></div>
                        </div><!-- /.search-popup__overlay -->
                        <div class="search-popup__inner">
                            <form action="/Home/Search" method="post" class="search-popup__form">
                                <input type="text" name="kelime" placeholder="Search....">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <nav class="header-navigation stricky">
                        <div class="container clearfix">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="main-nav__left main-nav__left-one float-left">
                                <a href="#" class="side-menu__toggler">
                                    <span style="margin-left:-45px; font-size:15px;">Menu <i class="fa fa-bars"></i></span>
                                </a>
                                @Html.Action("LayoutMenuEN", "Home")
                                <!-- /.navbar-collapse -->
                            </div>
                            <div class="site-header__logo-box-R">
                                <a href="/AnaSayfa/Index"><img src="~/assets/images/resources/toleyis-logo.png" alt="" style="height:60px; margin: -56px 0px 0px -0px; "></a>
                                <div>
                                    <p style=" margin: -55px 0px 0px 0px; ">TURKEY'S HOTEL RESTAURANT AND ENTERTAINMENT WORKERS TRADE UNION</p>
                                </div>
                            </div>
                            <div class="main-nav__right main-nav__right-one float-right ">
                                <div class="main-nav__right__btn-one ">
                                    <img src="~/assets/images/brand/Group 1372.png" style=" width: 67px; height: 52px; object-fit: contain;" />
                                </div>
                            </div>
                        </div>
                    </nav>
                </header>
            </div>
        </div>
        <!--Page Header Start-->
        <section class="Page-Title-Area" style="background: #231f29;">
            <div class="container">
                <div class="page-header__inner">
                    <h2>@ViewBag.Baslik</h2>
                    <ul class="thm-breadcrumb list-unstyled">
                        <li>@ViewBag.Sekme</li>
                        <li><span>/</span></li>
                        <li>@ViewBag.Baslik</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--Page Header End-->
        @RenderBody()
        <!--Site Footer One Start-->
        <footer class="site-footer" style="background-color:#2c2634">
            <div class="container">
                <div class="site-footer__one-top">
                    <div class="row">
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="00ms">
                            <div class="footer-widget__column footer-widget__about">
                                <div class="footer-widget__logo">
                                    <a href="/AnaSayfa/Index"><img src="~/assets/images/resources/footlogo.png" style="height:145px; width:145px;"></a>
                                </div>
                                <p class="footer-widget__text">
                                    "SINGLE AUTHORIZED UNION"
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                            <div class="footer-widget__column footer-widget__explore clearfix">
                                <h3 class="footer-widget__title">Links</h3>
                                <ul class="footer-widget__explore-list list-unstyled-duy">
                                    <li><a href="/Home/Index">Home</a></li>
                                    <li><a href="/ToleyisEN/Tarihce">Toleyis</a></li>
                                    <li><a href="/Image/FotoGaleri">Photo &<br /> Video</a></li>
                                    <li><a href="/ToleyisEN/Orgutlu">Organized <br /> Workplaces</a></li>
                                    <li><a href="/Info/AnlasmaliKurumlar">Organized </br>Owned<br /> Businesses</a></li>
                                </ul>
                                <ul class="footer-widget__explore-list footer-widget__explore-list-two list-unstyled-duy">
                                    <li><a href="/Info/PratikBilgiler">Info</a></li>
                                    <li><a href="/News/Haber">News</a></li>
                                    <li><a href="/Law/Kararnameler">Law</a></li>
                                    <li><a href="/Contact/Index/1">Contact</a></li>
                                    <li><a href="https://www.turkiye.gov.tr/csgb-isci-sendikalari-uyelik-islemleri">Membership</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__contact">
                                <h3 class="footer-widget__title">Contact</h3>
                                <ul class="list-unstyled-duy footer-widget__contact-list">
                                    <li>
                                        <div class="icon">
                                            <i class="icon-right-arrow"></i>
                                        </div>
                                        <div class="text">
                                            <p><a href="/Toleyis/GenelMerkez">General Center</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="icon-right-arrow"></i>
                                        </div>
                                        <div class="text">
                                            <p><a href="/ToleyisEN/BolgeTemsilcilik">Regional Representatives</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="icon-right-arrow"></i>
                                        </div>
                                        <div class="text">
                                            <p><a href="/ToleyisEN/SubeDetay">Suboffices</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="icon-right-arrow"></i>
                                        </div>
                                        <div class="text">
                                            <p><a href="/ToleyisEN/IlTemsilcilik">Provincial Representations</a></p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                            <div class="footer-widget__column footer-widget__contact">
                                <h3 class="footer-widget__title">Bize Ulaşın</h3>
                                <ul class="list-unstyled-duy footer-widget__contact-list">
                                    <li>
                                        <div class="icon">
                                            <i class="icon-support"></i>
                                        </div>
                                        <div class="text">
                                            <h2><a href="tel:08002111050">0800 211 10 50</a></h2>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-phone-square-alt"></i>
                                        </div>
                                        <div class="text">
                                            <p><a href="tel:+90-212-530-73-82">+90 (212) 530 73 82</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="text">
                                            <p><a href="mailto:toleyis@toleyis.org.tr">toleyis@toleyis.org.tr</a></p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-map-marker-alt"></i>
                                        </div>
                                        <div class="text">
                                            <p>Aksaray Mah.Küçük Langa Cad.Bilir İş Mrkz.No:18 E-301 K:3 Fatih/İSTANBUL</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="mobile-nav__social">
                                            <a href="https://twitter.com/toleyis1" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                                            <a href="https://tr-tr.facebook.com/ToleyisSendikasi/" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                                            <a href="https://www.youtube.com/channel/UCmhuDgLb61r9gBJfiyP_Ihg/videos" aria-label="youtube"><i class="fab fa-youtube"></i></a>
                                        </div><!-- /.mobile-nav__social -->
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--Site Footer One End-->
        <!--Site Footer Bottom Start-->
        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="site-footer-bottom__inner" style=" place-content: center; ">
                            <div class="site-footer-bottom__left">
                                <p>TOLEYİS | Türkiye Otel Lokanta Dinlenme Yerleri İşçileri Sendikası - Resmi Web Sitesi 2022 – <a href="https://rotatech.com.tr/">Created By Rotatech</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Site Footer Bottom End-->
    </div><!-- /.page-wrapper -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top" style="background-color: #ff6d12; color: #ff6d12;"><i class="fa fa-angle-up"></i></a>


    <div class="mobile-nav__wrapper">
        <div class="mobile-nav__overlay side-menu__toggler mobile-nav__toggler"></div>
        <div class="mobile-nav__content">
            <span class="mobile-nav__close side-menu__toggler mobile-nav__toggler">
                <i class="fa fa-times"></i>
            </span>
            <div class="logo-box">
                <a href="/Home/Index" aria-label="logo image">
                    <img src="~/assets/images/resources/logo-vektor.png" alt="" style="height:95px;" />
                </a>
            </div>
            <!-- /.logo-box -->
            <div class="mobile-nav__container clearfix"></div>
            <!-- /.mobile-nav__container -->
            <ul class="mobile-nav__contact list-unstyled">
                <li>
                    <i class="fas fa-envelope"></i>
                    <a href="mailto:toleyis@toleyis.org.tr">toleyis@toleyis.org.tr</a>
                </li>
                <li>
                    <i class="fas fa-phone-square-alt"></i>
                    <a href="tel:+90-212-530-73-82">+90 (212) 530 73 82</a>
                </li>
            </ul><!-- /.mobile-nav__contact -->
            <div class="mobile-nav__top">
                <div class="mobile-nav__social">
                    <a href="https://twitter.com/toleyis1" aria-label="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="https://tr-tr.facebook.com/ToleyisSendikasi/" aria-label="facebook"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.youtube.com/channel/UCmhuDgLb61r9gBJfiyP_Ihg/videos" aria-label="youtube"><i class="fab fa-youtube"></i></a>
                </div><!-- /.mobile-nav__social -->
            </div><!-- /.mobile-nav__top -->
        </div>
    </div>







    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/waypoints.min.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <script src="~/assets/js/TweenMax.min.js"></script>
    <script src="~/assets/js/wow.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/js/swiper.min.js"></script>
    <script src="~/assets/js/typed-2.0.11.js"></script>
    <script src="~/assets/js/vegas.min.js"></script>
    <script src="~/assets/js/jquery.validate.min.js"></script>
    <script src="~/assets/js/bootstrap-select.min.js"></script>
    <script src="~/assets/js/countdown.min.js"></script>
    <script src="~/assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/assets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/js/nouislider.min.js"></script>
    <script src="~/assets/js/isotope.js"></script>
    <script src="~/assets/js/appear.js"></script>
    <script src="~/assets/js/jarallax.js"></script>
    <script>
        var videoswiper = new Swiper($(".videoswiper"), {
            autoplay: 6000,
            pagination: false,
            slidesPerView: 3,
            spaceBetween: 0,
            loop: false,
            grabCursor: false,
            breakpoints: {
                1280: {
                    slidesPerView: 3
                },
                800: {
                    slidesPerView: 2
                },
                640: {
                    slidesPerView: 1
                }
            },
            nextButton: ".videoswiper .swiper-button-next",
            prevButton: ".videoswiper .swiper-button-prev",
            onPaginationRendered: function (swiper, paginationContainer) {
                var numberOfBullets = swiper.params.loop
                    ? Math.ceil(
                        (swiper.slides.length - swiper.loopedSlides * 2) /
                        swiper.params.slidesPerGroup
                    )
                    : swiper.snapGrid.length;
                //console.log('numberOfBullets: '+numberOfBullets);
                if (numberOfBullets < 2) {
                    swiper.paginationContainer.css({
                        display: "none"
                    });
                } else {
                    swiper.paginationContainer.css({
                        display: "block"
                    });
                }
            }
        });
        $('.videoswiper .swiper-slide').each(function (index, element) {
            var href = $(element).find('.card-img a').attr('href');
            $(element).magnificPopup({
                items: {
                    src: href
                },
                type: 'iframe'
            });
        });

        /*$(".popup-youtube, .popup-vimeo, .popup-gmaps").magnificPopup({
        disableOn: 700,
        type: "iframe",
        mainClass: "mfp-fade",
        removalDelay: 160,
        preloader: false,
        fixedContentPos: false
        });*/</script>


    <!-- template scripts -->
    <script src="~/assets/js/theme.js"></script>


</body>

</html>
